@media only screen and (min-width: 0px) and (max-width: 1023px) {
  .FullScreenDate {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 3000px) {
  .FullScreenDate {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-around;
  }

  .FullScreenDate .logo {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }

  .FullScreenDate .news,
  .FullScreenDate .time {
    color: #222;
    padding: 0;
    margin: 0;
  }
}
