/* CELL PHONE */
@media only screen and (min-width: 0px) and (max-width: 739px) {
  .Header {
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .Header__hamburger {
    display: flex;
  }

  .Header__logo {
    font-size: 1.3rem;

    padding: 1rem;
  }
  .Header__user {
    display: flex;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .Header {
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .Header__hamburger {
    display: flex;
  }

  .Header__logo {
    font-size: 1.3rem;

    padding: 1rem;
  }
  .Header__user {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 3000px) {
  .Header {
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #e2e2e2;
    display: none;
    justify-content: center;
    padding: 0.5rem;
  }

  .Header__hamburger {
    display: flex;
  }

  .Header__logo {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .Header__user {
    display: flex;
  }
}
