@media only screen and (min-width: 0px) and (max-width: 1023px) {
  .SideColumn {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 3000px) {
#SideColumn {
    display: block;
    flex-direction: row;
    max-width: 100%;
    padding: 0 20px; 
    width: 90%; 
  }

#SideColumn.side { 
  display: flex;  
  flex-direction: row; 
}

  .border-right {
    height: 300px;
  }

  .SideColumn-wrapper:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .SideColumn span a {
    color: #111;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .SideColumn span i {
    font-size: 14px;
    margin-left: -5px;
  }

  .SideColumn .time {
    padding: 0;
  }

  .SideColumn a h1 {
    /* background: pink; */
    color: #a8a4a4;
    font-size: 12px;
    margin-top: 2px;
    padding: 0;
  }

  .SideColumn a h3 {
    /* background: pink; */
    color: #666;
    font-size: 15px;
    font-weight: lighter;
    margin: -1px 0 0 0;
    padding: 0;
  }
  .SideColumn a h4 {
    /* background: pink; */
    color: #111;
    font-size: 15px;
    margin: 5px 0;
    padding: 0;
  }

  .SideColumn a {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
