@media only screen and (max-width: 1023px) {
  .TopTabletBar {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .TopTabletBar {
    margin: 0;
    padding: 0;
  }

  .TopTabletBar-row {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
  }

  .TopTabletBar-column-one {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }

  /* .TopTabletBar-column-one .bar {
    margin: 5px;
    padding: 5px;
    text-align: center;
  } */

  .TopTabletBar-column-one .user {
    margin: 5px;
  }

  .TopTabletBar-column-two a:first-of-type {
    margin-right: 10px;
  }

  .TopTabletBar-column-three {
    /* width: 80%; */
    /* background: pink; */
    /* align-items: center; */
    /* display: flex;
    font-family: "Hind";
    font-weight: bold;
    justify-content: space-between; */
  }

  .TopTabletBar-column-three-login-wrapper {
    /* width: 90%; */
    /* background: orange; */
    /* width: 70%; */
    display: flex;
    justify-content: flex-end;
    /* margin: 0 05%; */
  }
}
